<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title><%= appTitle %></title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <% if(typeof userInSession === "undefined") { %>
  <!-- If userInSession is UNDEFINED -->
  <nav>
    <div id="logo-user">
      <img src="https://res.cloudinary.com/dpncxyxs4/image/upload/v1689507957/temp_logo_l2hbus.png" alt="Plant Thing logo">
      <div id="user-info-header">
        <ul>
          <li><a href="/log_in"></a>Log in!</li>
        </ul>
      </div>
    </div>
    <div id="nav-links">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/add_plant">Add a plant</a></li>
        <li><a href="/suggestion_request">Get a suggestion</a></li>
      </ul>
    </div>
  </nav>

  <% } else { %>

  <!-- If userInSession is DEFINED -->
  <nav>
    <div id="logo-user">

      <img src="<%= userInSession.userImage %> " alt="Plant Thing logo">



      <div id="user-info-header">
        <ul>
          <li><a href="/profile"><%= userInSession.firstname %> </a></li>
          <li><%= userInSession.username %> </li>
          <li>Membership level</li>
        </ul>
      </div>
    </div>
    <div id="nav-links">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/add_plant">Add a plant</a></li>
        <li><a href="/suggestion_request">Get a suggestion</a></li>
      </ul>
    </div>
  </nav>
  <% } %>

  <%- body %>

  <script src="/js/script.js"></script>
</body>

</html>