<h1>Thank you for your Submission</h1>

<% if (newPlant) { %>
    <p><strong>Plant Name:</strong> <%= newPlant.plantName %></p>
    <p><strong>Species:</strong> <%= newPlant.species %></p>
    <p><strong>Ideal Climate:</strong> <%= newPlant.idealClimate.join(', ') %></p>
    <p><strong>Direct Sunlight Hours:</strong> <%= newPlant.sunlight %></p>
    <p><strong>Ideal Soil Type:</strong> <%= newPlant.soilType.join(', ') %></p>
    <p><strong>Ideal Levels of Organic Matter:</strong> <%= newPlant.organicMatter %></p>
    <p><strong>Type of Plant:</strong> <%= newPlant.plantType %></p>
    <% if (newPlant.extraInfo) { %>
      <p><strong>Additional Information:</strong> <%= newPlant.extraInfo %></p>
    <% } %>
    <% if (newPlant.image) { %>
      <img src="<%= newPlant.image %>" alt="Plant Image" width="300">
    <% } %>
  <% } else { %>
    <p>No information available for the new plant.</p>
  <% } %>

  <a href="/add_plant">Add another plant</a>