<h1 id="feedback-h1">Some previous suggestions from other users...</h1>

<ul id="all-cards-container">
  <% curatedCards.forEach(card => { %>
  <li id="card-container">

    <div id="card-image">

      <div id="card-image-info">
        <span id="feedback-plant-name"><%= card.plant.plantName %></span>
        <span id="feedback-plant-type"><%= card.plant.species %></span>
        <span id="feedback-plant-type"><%= card.plant.plantType %></span>
        <span id="feedback-plant-request-by">Request by: <%= card.user.username %></span>
      </div>

      <img src=" <%= card.plant.image %>" alt="Plant image">

    </div>

    <ul id="card-info">
     <li class="feedback-label">
       <span>Climate:</span> <%= card.environmentInput.climateZone %>
     </li>
     <li class="feedback-label"><span>Sunlight: </span><%= card.environmentInput.sunlight %></li>
     <li class="feedback-label"><span>Soil Type: </span><%= card.environmentInput.soilType %></li>
      <li class="feedback-label"><span>Organic Matter: </span><%= card.environmentInput.organicMatter %></li>
    </ul>

    <div class="thumbs-buttons">
      <span class="thumb-button-group">
        <form method="POST" action="/suggestions/feedback/thumbsUp/<%= card._id %>">
          <button class="thumbs-up" type="submit"></button>
        </form><%= card.thumbsUp %>
      </span>
      <span class="thumb-button-group">
        <form method="POST" action="/suggestions/feedback/thumbsDown/<%= card._id %>">
          <button class="thumbs-down" type="submit"></button>
        </form><%= card.thumbsDown %>
      </span>
    </div>
  </li>
  <% }) %>
</ul>