<h1>Suggestion Response</h1>

<% if (matchedPlant && matchedPlant.length > 0) { %>
    <ul id="all-cards-container" >
      <% matchedPlant.forEach(plant => { %>
        <li id="card-container" >
          <div id="card-image">
            <div id="card-image-info">
              <span id="feedback-plant-name"><%= plant.plantName %></span>
              <span id="feedback-plant-type"><%= plant.species %></span>
              <span id="feedback-plant-type"><%= plant.plantType %></span>
              <span class="feedback-label"><span>Climate:</span> <%= plant.climateZone %></span>
              <span class="feedback-label"><span>Sunlight: </span><%= plant.sunlight %></span>
              <span class="feedback-label"><span>Soil Type: </span><%= plant.soilType %></span>
              <span class="feedback-label"><span>Organic Matter: </span><%= plant.organicMatter %></span>
            </div>  

            <img src=" <%= plant.image %>" alt="Plant image">

          </div>  
        </li>
      <% }) %>
    </ul>
  <% } else { %>
    <p>No matching plants found.</p>
  <% } %>
