<link rel="stylesheet" href="/stylesheets/Mstyle.css" />

<div class="plant-info-containerM">
    <h1 class="h1-infoM" >Thank You!</h1>

    <div class="add-plant-field-containerM">
      <% if (newlyAddedPlant) { %>
          <div class="add-plant-labelM" >
            <label>Plant Name:</label>
            <label>Species:</label>
            <label>Type of Plant:</label>
            <label>Climate Zone:</label>
            <label>Soil Type:</label>
            <label>Organic Matter:</label>
          </div>
          <div class="new-plant-fieldsM" >
            <p><%= newlyAddedPlant.plantName %></p>
            <p><%= newlyAddedPlant.species %></p>
            <p><%= newlyAddedPlant.plantType %></p>
            <p><%= newlyAddedPlant.climateZone %></p>
            <p><%= newlyAddedPlant.soilType %></p>
            <p><%= newlyAddedPlant.organicMatter %></p>
          </div>  
          <% if (newlyAddedPlant.extraInfo) { %>
            <p>Other Info: <%= newlyAddedPlant.extraInfo %></p>
          <% } %>
          <% if (newlyAddedPlant.image) { %>
            <img src="<%= newlyAddedPlant.image %>" alt="Plant Image" width="300">
          <% } %>
        <% } else { %>
          <p>No information available for the new plant.</p>
      <% } %>
    </div>

    <div class="CRUD-linksM">
      <a class="add-anotherM" href="/plants/add_plant">Add another plant</a>

        <div class="Admin-linksM" >
          <a class="update-linkM" href="/plants/update_plant/<%-newlyAddedPlant._id%>">Update Plant</a>

          <form method="POST" action="/plants/plant_info/<%- newlyAddedPlant._id %>/delete">
            <button class="del-btnM" type="submit">Delete</button>
          </form>
        </div>

    </div>