<h1>Thank you for your Submission</h1>

<% if (newlyAddedPlant) { %>
    <p>Plant Name: <%= newlyAddedPlant.plantName %></p>
    <p>Species: <%= newlyAddedPlant.species %></p>
     <p>Type of Plant: <%= newlyAddedPlant.plantType %></p>

    <p>Ideal Climate: <%= newlyAddedPlant.climateZone %></p>
    <p>Soil Type: <%= newlyAddedPlant.soilType %></p>
    <p>Organic Matter: <%= newlyAddedPlant.organicMatter %></p>
    <% if (newlyAddedPlant.extraInfo) { %>
      <p>Additional Information: <%= newlyAddedPlant.extraInfo %></p>
    <% } %>
    <% if (newlyAddedPlant.image) { %>
      <img src="<%= newlyAddedPlant.image %>" alt="Plant Image" width="300">
    <% } %>
  <% } else { %>
    <p>No information available for the new plant.</p>
  <% } %>

  <a href="/plants/add_plant">Add another plant</a>
  <a href="/plants/update_plant/<%-newlyAddedPlant._id%>">Update Plant</a>

  <form method="POST" action="/plants/plant_info/<%- newlyAddedPlant._id %>/delete">
    <button type="submit">Delete</button>
  </form>