<link rel="stylesheet" href="/stylesheets/Mstyle.css" />


<% const climateZone = ["Af", "Am", "Aw/As", "BWh", "BWk", "BSh", "BSk", "Csa", "Csb", "Csc", "Cwa", "Cwb", "Cwc", "Cfa", "Cfb", "Cfc", "Dsa", "Dsb", "Dsc", "Dsd", "DWa", "Dwb", "Dwc", "Dwd", "Dfa", "Dfb", "Dfc", "Dfd", "ET", "EF"]; %>
<% const sunlight = ["Full Sun", "Partial Sun", "Indirect sunlight only"]; %>
<% const soilType = ["Sandy soil", "Clay soil", "Silt soil", /*"Peat soil", "Chalk soil", "Loam soil"*/]; %>
<% const organicMatter = ["High level of compost", "Medium level of compost", "Low level of compost"]; %>
<% const plantType = ["Tree", "Shrub", "climber", "Creeper", "Herb"]; %>


<div class="full-containerM">

  <h1 class="add-plant-h1M" >Update Plant Entry</h1>

  <form action="/plants/update_plant/<%-plantToUpdate._id%>" method="POST" style="display: flex; flex-direction:column; align-items:self-start">

    <div class="add-plant-field-containerM">
      
      <div class="add-plant-labelM">
        <label>Plant Name:</label>
        <label>Species:</label>
        <label>Type of Plant:</label>
        <label><a class="climate-linkM" href="https://en.wikipedia.org/wiki/K%C3%B6ppen_climate_classification" target="blank">*</a>Climate:</label>
        <label>Sunlight:</label>
        <label>Soil Type:</label>
        <label>Organic Matter:</label>
        <label>Other Info:</label>
      </div>

      <div class="add-plant-fieldsM">
        <input class="add-plant-inputM" name="plantName" value="<%- plantToUpdate.plantName %>" required />
        <input class="add-plant-inputM" name="species" value="<%- plantToUpdate.species %>" required />

        <select class="add-plant-selectM" name="plantType" value="<%= plantType %>" required>
          <% plantType.forEach(pltOption => { %>
              <% if(pltOption === plantToUpdate.plantType) { %>
                  <option value="<%- pltOption %>" selected ><%- pltOption %></option>
              <%} else {%>
                  <option value="<%- pltOption %>"><%- pltOption %></option> 
              <%}%>
          <%}) %>
        </select>

        <select class="add-plant-selectM" name="climateZone" value="<%= climateZone %>" multiple required>
          <% climateZone.forEach(cliOption => { %>
            <% if(cliOption === plantToUpdate.climateZone) { %>
              <option value="<%- cliOption %>" selected ><%- cliOption %></option>
            <%} else {%>
                <option value="<%- cliOption %>"><%- cliOption %></option> 
            <%}%>
          <%}) %>
        </select>

        <select class="add-plant-selectM" name="sunlight" value="<%= sunlight %>" required>
          <% sunlight.forEach(sunOption => { %>
            <% if(sunOption === plantToUpdate.sunlight) { %>
              <option value="<%- sunOption %>" selected ><%- sunOption %></option>
            <%} else {%>
              <option value="<%- sunOption %>"><%- sunOption %></option>
              <% } %>
          <%}) %>
        </select>
 
        <select class="add-plant-selectM" name="soilType" value="<%= soilType %>" required>
          <% soilType.forEach(soilOption => { %>
            <% if(soilOption === plantToUpdate.soilType) { %>
              <option value="<%- soilOption %>" selected ><%- soilOption %></option>
            <%} else {%>
              <option value="<%- soilOption %>"><%- soilOption %></option>
              <% } %>
          <%}) %>
        </select>

        <select class="add-plant-selectM" name="organicMatter" value="<%= organicMatter %>" required>
          <% organicMatter.forEach(orgMOption => { %>
            <% if(orgMOption === plantToUpdate.organicMatter) { %>
              <option value="<%- orgMOption %>" selected ><%- orgMOption %></option>
            <%} else {%>
              <option value="<%- orgMOption %>"><%- orgMOption %></option>
              <% } %>
          <%}) %>
        </select>

        <textarea class="add-plant-textareaM" name="extraInfo" cols="30" rows="10"></textarea>
      </div>

    </div>

    
      <button class="add-plant-buttonM" type="submit">Update Plant</button>
      
  </form>
</div>    