<h1>Update Plant Entry</h1>

<% const climateZone = ["Af", "Am", "Aw/As", "BWh", "BWk", "BSh", "BSk", "Csa", "Csb", "Csc", "Cwa", "Cwb", "Cwc", "Cfa", "Cfb", "Cfc", "Dsa", "Dsb", "Dsc", "Dsd", "DWa", "Dwb", "Dwc", "Dwd", "Dfa", "Dfb", "Dfc", "Dfd", "ET", "EF"]; %>
<% const sunlight = ["Full Sun", "Partial Sun", "Indirect sunlight only"]; %>
<% const soilType = ["Sandy soil", "Clay soil", "Silt soil", /*"Peat soil", "Chalk soil", "Loam soil"*/]; %>
<% const organicMatter = ["High level of compost", "Medium level of compost", "Low level of compost"]; %>
<% const plantType = ["Tree", "Shrub", "climber", "Creeper", "Herb"]; %>

<form action="/plants/update_plant/<%-plantToUpdate._id%>" method="POST" style="display: flex; flex-direction:column; align-items:self-start">
    <label>
      Plant Name:
      <input name="plantName" value="<%- plantToUpdate.plantName %>" required />
    </label>
    <label>
      Species:
      <input name="species" required />
    </label>
    <label>
      Type of Plant:
      <select name="plantType" value="<%= plantType %>" required>
        <% plantType.forEach(pltOption => { %>
            <% if(pltOption === plantToUpdate.plantType) { %>
                <option value="<%- pltOption %>" selected ><%- pltOption %></option>
            <%} else {%>
                <option value="<%- pltOption %>"><%- pltOption %></option> 
            <%}%>
        <%}) %>
      </select>
    </label>
  
    <button type="submit">Update Plant</button>
  </form>